<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Spring 2020 Classes</title>
    <head>
    <body>
     <h1>Spring 2020 Classes</h1>
     
     <p>This semester I took the following classes:
     <br>Introduction to Art History II
     <br>Medieval Architecture: the Millennium to the Reformation
     <br>Introduction to Computing for Engineers and Applied Scientists
     <br>Advanced Mechanics
     <br>Social Psychology
     </p>
     
     <p> My favorite class this semester was Medieval Architecture.
     It was very reading-intensive and sometimes challenging, but this I had never
     taken a class about architecture so the material was new and interesting.  </p>
  
    </body>
</html>

