<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>My ENGIE 1006 Page</title>
    <head>
    <body>
     <h1>My ENGIE1006 Page</h1>
     
     <p>Hello! My name is Camilla Lyczko.  I am a junior.  
    I am double majoring in art history and physics.  
    Ultimately, I am interested in art conservation.</p>
   
    <img src="/static/my_photo.jpg" alt="Camilla's photo" width="300" height="400">  
    <br>  
    <a href="/favorite_site">My Favorite Website</a>
    <br>   
    <a href="/my_classes">My Spring 2020 Classes</a>
  
    </body>
</html>
