<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>My Research</title>
    <head>
    <body>
     <h1>My Research</h1>
     
     <p>For the past two summers, I have done astrophysics research at the American Museum of Natural
     History with professor Charles Liu. Our focus was on E+A galaxies, which are galaxies
     that have undergone recent starburst followed by rapid quenching.  Quenching refers to
     the phenomenon when the gases necessary for star formation have been exhausted and the 
     galaxy can no longer form stars.  We looked at spectral data to broaden the sample
     of galaxies we were examining. Below is an example of an E+A galaxy's spectrum.
     The H-alpha lines show absorption, which are a big indication that the galaxy has been quenched. </p>
   
    <img src="/static/spectrum_ex.jpg" alt="Spectrum example" >  
    
    <p>On a color-magnitude diagram, these galaxies tend to appear in the “green valley”- a region between the blue cloud and red sequence.
    Below is a color magnitude diagram I created with Python last summer, showing that the galaxies fall within a similar range.
    </p>
    
    <img src="/static/colormagnitude.jpg" alt="Color magnitude" >  
    
     <p> Additionally, examining the overall slope of the spectra is useful in identifying these galaxies.  Below is a plot I made in Python
     looking at the slope of these galaxies' spectra and comparing them to other galaxies.
    </p>
   
    <img src="/static/urvsri.jpg" alt="Color magnitude" >  
    
   
    </body>
</html>

